<div class="form-group">
  <label [for]="name">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <input
    [id]="name"
    [name]="name"
    type="text"
    [(ngModel)]="value"
    #inputModel="ngModel"
    [required]="required"
    [minlength]="minlength ?? null"
    [class.is-invalid]="inputModel.invalid && (inputModel.touched || submitted)"
  />

  <small class="error" *ngIf="inputModel.invalid && (inputModel.touched || submitted)">
    <span *ngIf="inputModel.errors?.['required']">{{ label }} is required</span>
    <span *ngIf="inputModel.errors?.['minlength']">
      Minimum {{ inputModel.errors?.['minlength']?.requiredLength }} characters
    </span>
  </small>
</div>
